:root {
  --border-radius-xl: 12px;
  --border-radius: 8px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  /* Pink */
  --color-pink-default: #ff91a4;
  --color-pink-light: #ffc1c8;
  --color-pink-lighter: #ffebee;
  --color-pink-dark: #e66b7d;
  --color-pink-darker: #b24a5a;
  /* Blue */
  --color-blue-default: #6699ff;
  --color-blue-light: #99ccff;
  --color-blue-lighter: #cce5ff;
  --color-blue-dark: #3366cc;
  --color-blue-darker: #1a3366;
  /* Green */
  --color-green-default: #66cc99;
  --color-green-light: #99ffcc;
  --color-green-lighter: #ccffe5;
  --color-green-dark: #339966;
  --color-green-darker: #1a4d33;
  /* Yellow */
  --color-yellow-default: #ffdd55;
  --color-yellow-light: #ffee99;
  --color-yellow-lighter: #fff9cc;
  --color-yellow-dark: #e6bb33;
  --color-yellow-darker: #b28d1a;
  /* Grey */
  --color-grey-default: #a9a9a9;
  --color-grey-light: #d3d3d3;
  --color-grey-lighter: #f0f0f0;
  --color-grey-dark: #808080;
  --color-grey-darker: #404040;

  --font-size-1: 12px;
  --font-size-2: 18px;
  --font-size-3: 24px;

  --space-0: 0px;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 18px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 48px;
  --space-8: 64px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: dark;
}

.button {
  background-color: rgba(0, 0, 0, 0);
  font-size: var(--font-size-3);
  color: var(--color-grey-lighter);
}

.spacer {
  flex: 1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.text {
  /* font-family: var(--font-mono); */
  text-align: center;
  font-size: var(--font-size-3);
  color: var(--color-grey-lighter);
}
