:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;

  /* Yellow */
  --color-yellow-default: #f1c40f;
  --color-yellow-light: #f9e79f;
  --color-yellow-lighter: #fef9e7;
  --color-yellow-dark: #b7950b;
  --color-yellow-darker: #7d6608;
  /* Pink */
  --color-pink-default: #e91e63;
  --color-pink-light: #f8bbd0;
  --color-pink-lighter: #fce4ec;
  --color-pink-dark: #c2185b;
  --color-pink-darker: #880e4f;
  /* Blue */
  --color-blue-default: #3498db;
  --color-blue-light: #bbdefb;
  --color-blue-lighter: #e3f2fd;
  --color-blue-dark: #1976d2;
  --color-blue-darker: #0d47a1;
  /* Green */
  --color-green-default: #2ecc71;
  --color-green-light: #c8e6c9;
  --color-green-lighter: #e8f5e9;
  --color-green-dark: #388e3c;
  --color-green-darker: #1b5e20;
  /* Gray */
  --color-gray-default: #95a5a6;
  --color-gray-light: #eceff1;
  --color-gray-lighter: #f7f9f9;
  --color-gray-dark: #546e7a;
  --color-gray-darker: #263238;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: dark;
}
