:root {
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --card-rgb: 100, 100, 100;
  --card-border-rgb: 200, 200, 200;


  /* Pink */
  --color-pink-default: #FF91A4;
  --color-pink-light: #FFC1C8;
  --color-pink-lighter: #FFEBEE;
  --color-pink-dark: #E66B7D;
  --color-pink-darker: #B24A5A;
  /* Blue */
  --color-blue-default: #6699FF;
  --color-blue-light: #99CCFF;
  --color-blue-lighter: #CCE5FF;
  --color-blue-dark: #3366CC;
  --color-blue-darker: #1A3366;
  /* Green */
  --color-green-default: #66CC99;
  --color-green-light: #99FFCC;
  --color-green-lighter: #CCFFE5;
  --color-green-dark: #339966;
  --color-green-darker: #1A4D33;
  /* Yellow */
  --color-yellow-default: #FFDD55;
  --color-yellow-light: #FFEE99;
  --color-yellow-lighter: #FFF9CC;
  --color-yellow-dark: #E6BB33;
  --color-yellow-darker: #B28D1A;
  /* Grey */
  --color-grey-default: #A9A9A9;
  --color-grey-light: #D3D3D3;
  --color-grey-lighter: #F0F0F0;
  --color-grey-dark: #808080;
  --color-grey-darker: #404040;
  


}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  color-scheme: dark;
}
