.nextStepButton:hover {
  border: 3px solid var(--color-blue-default);
}

.nextStepButton {
  padding: var(--space-2) var(--space-4);
  border-radius: var(--border-radius);
  border: 3px solid rgba(0, 0, 0, 0);
}
