.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow-y: auto;
}

.messagesListContainer {
  height: 100%;
  padding: 0 var(--space-3);
  margin-top: var(--space-4);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  justify-content: end;
}
